[changelog]
header = """
# Changelog

All notable changes to this project will be documented in this file.
"""
body = """
{% if version %}## [{{ version }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{% else %}## [Unreleased]
{% endif %}
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group }}
{% for commit in commits %}
- {{ commit.message | trim }} ({{ commit.id | truncate(length=7, end="") }})
{% endfor %}
{% endfor %}

"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = false
split_commits = false
tag_pattern = "^(?:v)?[0-9]+\\.[0-9]+\\.[0-9]+$"
sort_commits = "oldest"
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Bug Fixes" },
  { message = "^perf", group = "Performance" },
  { message = "^refactor", group = "Refactors" },
  { message = "^docs", group = "Documentation" },
  { message = "^test", group = "Tests" },
  { message = "^ci", group = "CI" },
  { message = "^build", group = "Build" },
  { message = "^chore", group = "Chores" },
  { message = "^style", group = "Style" },
  { message = ".*", group = "Other" },
]
